@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  box-sizing:border-box;
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1 {
  color: tomato;
}

.chatbar {
  background: $nav-footer-color;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}


.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex-grow: 1;
}

.chatbar-username {
  flex-grow:0;
  flex-shrink:0;
  flex-basis:13vw;
}

.messages-outer{
  min-height:100vh;
  display:flex;
  flex-direction:row;
  justify-content:center;
  background:white;
}

.sidebar{
  background:$sidebar-color;
  min-height:100vh;
  min-width:175px;
  width:20vw;
}

.messages{
  flex-grow:1;
  margin:$nav-height 0;
  padding: 2rem;
  display:flex;
  flex-direction:column;
}

.message {
  max-width:50vw;
  padding: 0.5rem 0.5rem;
  margin:0.4rem 0;
  flex-direction:column;
  padding:1rem;
}

.current-user-message,
.other-user-message{
  border:1px solid #cccccc;
  border-radius:0.35rem;
  box-shadow: -2px 2px 2px #aaaaaa;
  background:white;
  display:flex;
}

.current-user-message{
  align-self:flex-end;
}

.other-user-message{
  align-self:flex-start;
  background:#eeeeee;
}

.message-content,
.message-username {

}

.message-username{
  font-weight: 700;
  width:100%;
}

.message-content {
  padding-top:0.5rem;
}



.message.system {
  font-style: italic;
  padding: 5px 20px;
  text-align:center;
  align-self:center;
}

.msg-style-A{
  color:red;
}

.msg-style-B{
  color:blue;
}

.msg-style-C{
  color:green;
}

.msg-style-D{
  color:orange;
}

.navbar-brand {
  font-family: $title-font;
  color:$title-color;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 2.9rem;
  height: $nav-height;
  line-height: $nav-height;
  padding: 0 10px;
  text-decoration: none;
}

.navbar {
  background: $nav-footer-color;
  border-bottom: 1px solid black;
  height: $nav-height;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  min-width:400px;
}

.clients-connected-msg{
  position:absolute;
  right:1rem;
  font-size:1rem;
}

.chat-img{
  max-width:60vw;
}